<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In portal</title>
    
</head>
<body>
    <form action="/data" method="POST">
        <div class="container">
            <div>
                <input type="text" placeholder="Enter username" name="userid" required>
            </div>
            <br>
            <div>
                <input type="password" placeholder="Enter password" name="password" required>
            </div>
            <br>
            <button>Sign In</button>
        </div>
    </form>
</body>
</html>